<div class="artist-index container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<div class='artist-index-body'>
					<h1 class='artist-header'>Artists</h1>
					<table class='artist-list center'>
						<thead>
							<th>Rank</th>
							<th>Artist</th>
						</thead>
						<% @artists.each do |artist| %>
							<tbody>
								<td class='rank'><%= artist.rank %></td>
								<td class='name'><%= link_to artist.name, artist %></td>
							</tbody>
						<% end %>
					</table>
					</div>
			</div>
		</div>
	</div>
</div>
