<div class="artist-index container-fluid">
	<div class='background-img'>
		<%= image_tag('background.jpg', :class => 'img-responsive main-background') %>
		<%= image_tag('edmtop100.png', :class => 'img-responsive top100logo') %>
		<div class='nav-2'>
			<p class='nav-2-item'>p1</p><p class='nav-2-item'>p2</p><p class='nav-2-item'>p3</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<div class='artist-index-body'>
					<table class='artist-list center'>
						<h1 class='artist-header'>Artists</h1>
						<thead>
							<th>Rank</th>
							<th>Artist</th>
						</thead>
						<% @artists.each do |artist| %>
							<tbody>
								<td class='rank'><%= artist.rank %></td>
								<td class='name'><%= link_to artist.name, artist %></td>
							</tbody>
						<% end %>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class='spotify-player'>
		<iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1E8V4B91dQOtM6" width="2000" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
	</div>
</div>
