<h1>Artists</h1>
<table class='artist-list'>
  <tr>
    <th>Rank</th>
    <th>Artist</th>
  </tr>
  <% @artists.each do |artist| %>
  <tr>
      <td><%= artist.rank %></td>
      <td><%= link_to artist.name, artist %></td>
  </tr>
    <% end %>
</table>
