<div class='container'>
  <h1 class='artist-index-header'>Artists</h1>
  <table class='artist-list'>
    <thead>
      <th>Rank</th>
      <th>Artist</th>
    </thead>
      <% @artists.each do |artist| %>
      <tbody>
        <td><%= artist.rank %></td>
        <td><%= link_to artist.name, artist %></td>
      </tbody>
      <% end %>
  </table>
</div>
