<h1>Artists</h1>
<table>
  <tr>
    <th>Rank</th>
    <th>Artist</th>
  </tr>
  <tr>
    <% @artists.each do |artist| %>
      <td><%= artist.rank %></td>
      <td><%= link_to artist.name, artist %></td>
    <% end %>
</table>
