.artist-index-header{
  text-align: center;
}

.artist-list{
  position: relative;
}

.artist-list th{
  width: 400px;
  text-align: center;
}

.artist-list tbody{
  width: 400px;
  text-align: center;
}

.artist-music{
  background-color: #ff6303;
}
